<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body style="background-color:lightblue;">
    <center>
    <h1>" <%= @subject %> ".</h1>
    <hr style="width:50%;">
    <p>
      <%= @description %>
      <br/>
      <br/>
      <%= link_to "Notes", @url %>.
    </p>
    </center>
  </body>
</html>
