$('#modal').modal('hide');
$('#main_alert').html("<div class='alert alert-success' role='alert'>Note was successfully inserted.</div>");
$('#sidebar').html("<%= j render'shared/sidebar', notes_list: @notes_list %>");
