<div class="container-fluid">
  <div class="row justify-content-start " style="">
    <div class="col-sm-3" id="sidebar" style="position:fixed;">
      <%= render "shared/sidebar", notes_list: @notes_list %>
    </div>
    </div>
    <div class="row justify-content-end">
    <div class="col align-self-center col-sm-9" style="">
      <div class="" id="note_body">
        <div class="card">
          <div class="card-body">
            You have not selected any notes.
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  $('.toast').toast('show')
</script>
