<div class="card sidebar">
  <div class="card">
    <%= render 'note_search_area' %>
  </div>
  <%= render 'note_list', notes_list: notes_list, permission_notes_list: permission_notes_list %>
</div>
<script type="text/javascript">
$("#search_field").on("keyup",function(){
  if(this.value.length > 0){
    $("#btn_search").fadeIn(500);
  }else{
    $("#btn_search").fadeOut(500);
  }
});
</script>
