<!-- Main content -->
<section class="content">
  <div class="container-fluid">
    <!-- Small boxes (Stat box) -->
    <div class="row">
      <div class="col-lg-3 col-6">
        <!-- small box -->
        <div class="card" style="height:400px;">
          <div class="card-header">
            ChatRoom
          </div>
          <div class="card-body">

          </div>
        </div>
      </div>
      <!-- ./col -->
      <div class="col-lg-9 col-6">
        <!-- small box -->
        <div class="card" style="height:400px;">
          <div class="card-header">
            Messages
          </div>
          <div class="card-body">

          </div>
          <div class="card-footer">
            <textarea name="name" rows="2" class="form-control"></textarea>
          </div>
        </div>
      </div>
    </div>
    <!-- /.row -->
    <!-- /.card -->
  </div>
  <!-- /.container-fluid -->
</section>
