body{
  background-color: #996600 !important;
}
h2{
  color: $primary;
}
.ic{
  transition: 1s;
  border-radius:100%;
  padding: 2px;
  margin:4px;
  border: 2px solid lightblue;
}
.ic:hover{
  transition: 0.2s;
  transform: scale(1.4);
}
.notify{
  position: fixed;
  bottom: 0;
  right: 0;
  padding-right: 20px;
  padding-bottom: 20px;
  z-index: 1;
}
.toast{
  padding-bottom: 4px;
}
.sidebar{
  height: 480px;
  overflow-y: auto;
}
.note_title{
  max-width:150px;
}
.important-true{
  color: blue;
}
.important-false{
  color: black;
}
.message_title{
  margin: 5px;
}
.message{
  margin: 5px;
}
.sender{
  background-color: gray;
  text-align: right;
  margin: 5px;
  padding: 5px;
  border-radius: 7px 7px 0px 7px;
}
.receiver{
  background-color: lightgray;
  text-align: left;
  margin: 5px;
  padding: 5px;
  border-radius: 7px 7px 7px 0px;
}
.message_box{
  margin: 7px;
  padding: 4px;
}
.msg_textbox{
  bottom: 0;
  position: fixed;
}
.msg_image{
  max-width: 300px;
  max-height: 300px;
}
.msg_heading{
  font-size: 12px;
}
